<a href="https://colab.research.google.com/github/ArseneInvincibles/CLASS2/blob/main/Pythonclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction To Python**

# New section

# New section

# New section

# New section

# **Data Types**

In [ ]:
type (110)

int

In [ ]:
type (11.0)

float

In [ ]:
type ([1, 2, 3, "Mary"])

list

In [ ]:
type((1, 2, 3, "mustafa"))

tuple

In [ ]:
type ({56, 2, 3})

set

In [ ]:
type({"name": "marry", "mark":70})

dict

# **String**

In [ ]:
## This is a string
## a is a variable
a="42"
print (a)

42

In [ ]:
first_name="mustafa"
second_name="khan"
print(first_name, second_name)

mustafa khan

S

### Special Chartacters

In [ ]:
#\, \n ,\t , \r ,\b
print ("I like \"python\"")

I like "python"

In [ ]:
print("My name is Mustafa \nI like Python")

My name is Mustafa
I like Python

In [ ]:
print("My name is Mustafa \tI like Python")

My name is Mustafa 	I like Python

In [ ]:
#\r is a carriage erase, and replaces what is written before.
print("My name is Mustafa \rI like Python")

I like Python

### Index and Slicing

In [ ]:
b = "Country"
b[:5]
#same as b[0:5]

'Count'

In [ ]:
b[-4]

'n'

In [ ]:
b[::2]

'Cuty'

In [ ]:
b[:3]

'Cou'

In [ ]:
print (b[::1])

Country

In [ ]:
print (b[::2])

Cuty

In [ ]:
print (b[::-1])

yrtnuoC

### Concantenation

In [ ]:
part1 = "United"
part2 = "Kingdom"
part1 + " "+part2

'United Kingdom'

### Format Strings

In [ ]:
#using a string and intergar when you use formatting
c= "i am {}"
b=50
c.format(b)

'i am 50'

In [ ]:
string1="I {} be {} next year"
string1.format("will", b)

'I will be 50 next year'

In [ ]:
weight = 5
product="apple"
string2="i bought {0} kg of {1} that cost me 20 pounds"
string2.format(weight, product)

'i bought 5 kg of apple that cost me 20 pounds'

In [ ]:
weight = 5
product="apple"
string2="i bought {a} kg of {b} that cost me 20 pounds"
string2.format(a=weight, b=product)

'i bought 5 kg of apple that cost me 20 pounds'

In [ ]:
#%d, used for formatting digits
#%f,
#%s,
#%a

string3="i bought %d kg of %s that cost me %f pounds"%(5, "apples", 15.20)
print(string3)

i bought 5 kg of apples that cost me 15.200000 pounds

### Operations

In [ ]:
10*2

20

In [ ]:
10/2

5.0

In [ ]:
#%Modulas - what is remaining

8%3

2

In [ ]:
#exponent is the power off, and uses **

5**3 #5*5*5

125

In [ ]:
#PEMDAS is the order of the calculation
#parentus, expoenent, multiplication, division, addition, subtraction
(5+3*6.6/12)**2

44.22249999999999

### Operators

# New section

In [ ]:
5==7

False

In [ ]:
5<7

True

In [ ]:
5!=7

True

### List Comprehension

In [ ]:
word = "Python"
#list(word.upper())
newlst = [letter.upper() for letter in word]
print(newlst)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
word = "london"
lst = list (word.upper())
print(lst)

['L', 'O', 'N', 'D', 'O', 'N']

# New section

### Nested Lists

In [ ]:
matrix = [[0, 1, 2],
          [3, 4, 5],
          [6, 7, 8],
          [9, 10, 11]

]

matrix[0] [-3]

0

In [ ]:
mylist = [[1, 2, 3,], 4, 5, 6, [7, 8, 9]]
newlst2 = []
for x in range (len(mylist)):
  for y in range (len(mylist[x])):
    newlst2.append(mylist [x], [y])

newlst2

TypeError: ignored

### Dictionaries

-Dictionaries are you used to change data in key:value pairs
-items are changeable and do not allow duplicates.
-written with CURLY BRACKETS {}

In [ ]:
mydict = {
    "employment" : "Zara",
    "department" : ["IT", "sales"],
    "Last salary": 50000

}

print(mydict)

{'employment': 'Zara', 'department': ['IT', 'sales'], 'Last salary': 50000}

In [ ]:
# Nested dictionaries

In [ ]:
mydict = {
    "employment" : "Zara",
    "department" : ["IT", "sales"],
    "Last salary": 50000

}
keys = mydict.keys()
values = mydict.values()
items = mydict.items()
print(keys)
print(values)
print(items)

dict_keys(['employment', 'department', 'Last salary'])
dict_values(['Zara', ['IT', 'sales'], 50000])
dict_items([('employment', 'Zara'), ('department', ['IT', 'sales']), ('Last salary', 50000)])

In [ ]:
mydict = {
    "employment" : "Zara",
    "department" : ["IT", "sales"],
    "Last salary": 50000

}
for keys, values in mydict.items(): #Tuples
  print(keys, values)
delete = "employment"
mydict.pop(delete)
print("Updated Dict is: ")
for keys, values in mydict.items():  #Tuples
  print(keys, values)

employment Zara
department ['IT', 'sales']
Last salary 50000
Updated Dict is:
department ['IT', 'sales']
Last salary 50000

### Tuples

A Tuple is a collection which is ordered, UNCHGANABLE and allows duplicates.
-Tuples use (

In [ ]:
mytuple = ("Audi", "Ford", "Tesla", "Ford")
mylist = list(mytuple) #Using list constructor, convert tuples to list
mylist [1] = "Toyota" #make change
mytuple = tuple(mylist) #change from list, back to tuiple
print(mytuple)

('Audi', 'Toyota', 'Tesla', 'Ford')

### SETs

A set is a collection which is unordered, unchangeable, unindexed and does not allow duplicates.
written with curly brackets {}
Allow a diff mixture of data types
len() and type()